################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
**/bin
**/obj
**/azurekey.txt
**.csproj.user
**/node_modules